
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
            height: 100%;
            margin: 0;
            padding: 0;
}

body {
            display: flex;
            flex-direction: column;
}

header {
            flex-shrink: 0;
}

main {
            flex-grow: 1;
}

footer {
            flex-shrink: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}
a:link  {
    color: #ce1515;
}
ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

nav ul li a:hover {
    background-color: #555;
}


main {
    padding: 20px;
    background-color: #f2f2f2;
}

main h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

main p {
    margin-bottom: 15px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}


form {
    margin-bottom: 20px;
    margin-top: 20px;
}

form input[type="text"],
form button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
}

form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}


ul.book-list li {
    margin-bottom: 10px;
}


ul.author-detail {
    margin-left: 20px;
}

a:visited   { color: #ce1515;}
a.book-link {
    color: #ce1515;
}

a.book-link:hover {
    text-decoration: underline;
}
a:hover {
    color: #ece2e3;
}
.btn_red {
    background-color: red;
    color: white;
}
.btn_delete{
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;}


.btn_edit{
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;}
div{
    margin-top: 20px;
}