body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FF4081;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: #00BCD4;
}

p {
    color: #333;
}

a {
    color: #009688;
    text-decoration: none;
}

a:hover {
    color: #FF4081;
}

/* 主要内容区域 */
main {
    padding: 20px;
    background-color: #FFF;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #009688;
    text-decoration: none;
}

a:hover {
    color: #FF4081;
}